# Скомпилированные файлы (объектные файлы)
*.o

# Исполняемые файлы (результат сборки)
bplus_tree
run_tests

# Файлы базы данных и логов (чтобы не забивать гит тестовыми данными)
*.dat
*.log

# Папки настроек VS Code
.vscode/